.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;

    /* gap: 30px;
    flex-wrap: wrap;
    justify-content: center; */
}
.barrapesquisa{
    height: 30px;
    border: 1px solid #f0f0f0;
    width: 200px;
}